@use './pages/Home/index.scss' as home;
@use './components/Navbar/index.scss' as navbar;
@use './pages/Login/index.scss' as login;
@use './pages/Register/index.scss' as register;
@use './components/TaskEditForm/index.scss' as taskEditForm;
@use './components/TaskForm/index.scss' as taskForm;
@use './components/TaskItem/index.scss' as taskItem;
@use './pages/Tasks/index.scss' as task;
@use './components/Footer/index.scss' as footer;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #f9f9f9;
  min-height: 0;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
