// 🎨 Colores
$color-primary: #4b6bfb;
$color-secondary: #6c63ff;
$color-bg: #f8f9fb;
$color-text: #333;
$color-white: #fff;
$color-danger: #e74c3c;
$color-success: #2ecc71;
$color-text-light: rgb(177, 177, 236);

// 🧱 Tipografía
$font-base: 'Poppins', 'Segoe UI', sans-serif;

// 🧩 Espaciados
$radius: 8px;
$space-1: 0.5rem;
$space-2: 1rem;
$space-3: 2rem;
