@use '../../styles/variables' as v;

.home-container {
  background-color: v.$color-bg;
  padding: v.$space-3;
  text-align: center;

  &__title {
    font-family: v.$font-base;
    font-size: 2.2rem;
    color: v.$color-primary;
    margin-bottom: v.$space-2;
  }

  &__subtitle {
    font-size: 1.2rem;
    color: v.$color-text;
    opacity: 0.8;
  }
}
